* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.main-column {
  background-color: lightcoral;
  flex: 2;
  order: 2;
}

.side-bar {
  background-color: lightgreen;
  flex: 1;
  order: 1;
}

@media (max-width: 600px) {
  .container {
    display: block;
  }
}